*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
libs/
src/main/java/com/hzp/hiapp/demo/lifecycle/
src/main/java/com/hzp/hiapp/demo/livedata/
src/main/java/com/hzp/hiapp/demo/viewmodel/
